header {
    text-align: center;
    color: azure;
    background-color: cornflowerblue;
    padding: 5px 0 2px 0;
    margin-bottom: 5px;
}

.list {
    list-style: none;
}

.list-hold {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#search-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3px;
}

#curr-city-cond {
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 4px;
    margin: 3px 0px 3px 0px;

}

.prevCityBtn {
    background-color: lightblue;
    color: black;
    margin: 3px;
}



